<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <header><h2>Calculadora VueJs</h2></header>
<div id="app">
    <input type="number" v-model="number1">
    <select v-model="operation">
        <option value="0">+</option>
        <option value="1">-</option>
        <option value="2">*</option>
        <option value="3">/</option>
    </select>
    <input type="number" v-model="number2">
    <button @click="calculate">=</button>
    <strong>{{result}}</strong>

    <footer class="footer">
        <p>&copy; Creado por {{develpment}}</p>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script>
    var cc = new Vue({
        el: '#app',
        data:{
            operation: '0',
            result: '0',
            develpment: 'Manuel Alejandro Zamora Tovar',
            number1:0,
            number2:0,
        },
        methods:{
            calculate:function(){
                //Operaciones
                if (this.operation == '0') {
                    this.result = parseInt(this.number1) + parseInt(this.number2);
                }
                else if (this.operation == '1') {
                    this.result = this.number1-this.number2;
                }
                else if (this.operation == '2') {
                    this.result = this.number1*this.number2;
                }
                else if (this.operation == '3') {
                    this.result = this.number1/this.number2;
                }
                else{
                    return alert("NO SE PUDO REALIZAR LA OPERACIÓN")
                }
            }
        }
    })
 
</script>

</body>
</html>